In [3]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [4]:
data = [
    ['good'], ['bad'], ['excellent'], ['average'], 
    ['good'], ['average'], ['excellent'], ['bad'], 
    ['average'], ['good']
]
data

[['good'],
 ['bad'],
 ['excellent'],
 ['average'],
 ['good'],
 ['average'],
 ['excellent'],
 ['bad'],
 ['average'],
 ['good']]

In [7]:
df = pd.DataFrame(data=data, columns=['remarks'])
df.head()

     remarks
0       good
1        bad
2  excellent
3    average
4       good

In [9]:
categories = [['bad', 'average', 'good', 'excellent']]

In [11]:
categories

[['bad', 'average', 'good', 'excellent']]

In [13]:
encoder_ordinal = OrdinalEncoder(categories=categories)

In [21]:
ordinal_data = encoder_ordinal.fit_transform(df)
ordinal_data

array([[2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [0.],
       [1.],
       [2.]])